.panel {
    position: fixed;
    top: 0;
    background: #111;
    width: 25%;
    z-index: 1;
}

tr {
    height: 40px;
}
.qlh-themhang-button{

}

.qlh-table {
    width: 268px;
    position: fixed;
    top: 50%;
}